<div
  class="md:w-4/6 md:mx-auto md:py-8 md:px-0 py-5 px-4 flex justify-between items-center"
>
  <div></div>
  <div class="flex justify-between items-center gap-2">
    <div>
      <img
        class="dark:block hidden"
        src="../../assets/images/icon-sun-light.svg"
        alt=""
      />
      <img
        class="dark:hidden block"
        src="../../assets/images/icon-sun-dark.svg"
        alt=""
      />
    </div>
    <label class="switch">
      <input type="checkbox" (change)="switchThemes()" />
      <span class="slider"></span>
    </label>
    <div>
      <img
        class="dark:block hidden"
        src="../../assets/images/icon-moon-light.svg"
        alt=""
      />
      <img
        class="dark:hidden block"
        src="../../assets/images/icon-moon-dark.svg"
        alt=""
      />
    </div>
  </div>
</div>
