<div
  class="md:w-4/6 md:mx-auto md:py-5 md:px-0 py-10 px-4 lg:grid lg:grid-cols-2 flex flex-col justify-between lg:gap-5 gap-16 font-primary"
>
  <div class="lg:w-4/5">
    <p
      class="lg:mt-10 mt-5 text-greyNavy md:text-sm dark:text-lightBlue text-sm italic"
    >
      Question {{ currentQuestionIndex + 1 }} of {{ questions.length }}
    </p>
    <h1
      class="text-darkNavy lg:mt-6 mt-5 md:text-3xl text-2xl font-semibold dark:text-white"
    >
      {{ currentQuestion.question }}
    </h1>
  </div>
  <div class="flex flex-col gap-4">
    <div *ngFor="let option of currentQuestion.options; let i = index">
      <button
        class="flex justify-between gap-3 items-center bg-white cursor-pointer dark:bg-navy dark:bg-opacity-80 w-full p-4 rounded-2xl shadow"
        (click)="selectAnswer(option)"
        [disabled]="answered"
        [ngClass]="{
          'border-2 border-purple': selectedAnswer === option && !showResult,
          'border-2 border-green':
            showResult && option === currentQuestion.answer,
          'border-2 border-red':
            showResult && selectedAnswer === option && !correctAnswer,
          'hover:border-2 hover:border-purple': !answered
        }"
      >
        <div class="flex justify-start items-center gap-3">
          <span
            class="text-xl text-greyNavy font-semibold hover:bg-purple hover:bg-opacity-15 hover:text-purple px-4 py-2 rounded-lg"
            [ngClass]="{
              'bg-green text-white':
                showResult && option === currentQuestion.answer,
              'bg-red text-white':
                showResult && selectedAnswer === option && !correctAnswer,
              'bg-lightGrey': !showResult
            }"
            >{{ "ABCD"[i] }}
          </span>
          <h1
            class="md:text-xl text-lg text-darkNavy dark:text-white font-medium"
          >
            {{ option }}
          </h1>
        </div>
        <img
          *ngIf="
            showResult &&
            (selectedAnswer === option || option === currentQuestion.answer)
          "
          class="h-8 w-8"
          [src]="
            option === currentQuestion.answer
              ? '../../assets/images/icon-correct.svg'
              : '../../assets/images/icon-incorrect.svg'
          "
          [alt]="option === currentQuestion.answer ? 'correct' : 'incorrect'"
        />
      </button>
    </div>
    <div class="w-full mt-5">
      <button
        class="bg-purple hover:bg-opacity-50 w-full text-center md:text-xl font-semibold text-white p-5 rounded-2xl shadow"
        (click)="answered ? nextQuestion() : submitAnswer()"
      >
        {{ answered ? "Next Question" : "Submit Answer" }}
      </button>
    </div>
    <div *ngIf="showError" class="text-red-500 mt-3">
      Please select an answer before submitting.
    </div>
  </div>
</div>
