<div
  class="md:w-4/6 md:mx-auto md:py-5 md:px-0 py-10 px-4 lg:grid lg:grid-cols-2 flex flex-col justify-between lg:gap-0 gap-16 font-primary"
>
  <div>
    <h1 class="text-darkNavy md:text-6xl text-5xl font-thin dark:text-white">
      Welcome to the <br /><span class="font-medium">Frontend Quiz!</span>
    </h1>
    <p class="lg:mt-10 mt-5 text-greyNavy dark:text-lightBlue text-lg italic">
      Pick a subject to get started.
    </p>
  </div>
  <div class="flex flex-col gap-5">
    @for (subject of subjects; track $index) {
    <button
      class="flex justify-start gap-3 items-center bg-white hover:bg-purple hover:bg-opacity-20 bg-opacity-80 cursor-pointer dark:bg-navy dark:bg-opacity-80 w-full p-4 rounded-2xl shadow"
      (click)="onSubjectSelected(subject.title)"
    >
      <div
        [ngClass]="{
              'bg-orange': subject.title === 'HTML',
              'bg-green': subject.title === 'CSS',
              'bg-blue': subject.title === 'JavaScript',
              'bg-purple': subject.title === 'Accessibility',
              }"
        class="bg-opacity-15 dark:bg-opacity-25 p-1 rounded-lg"
      >
        <img [src]="subject.icon" alt="icon" />
      </div>
      <h1 class="text-3xl text-darkNavy dark:text-white font-medium">
        {{ subject.title }}
      </h1>
    </button>
    }
  </div>
</div>
